In [ ]:
#count rows
import pandas as pd
chunksize = 1000000
i = 0

# 2019_3_deletesamezone.csv, 2019_5_add_duration.csv
for chunk in pd.read_csv('2019_5_add_duration.csv', chunksize = chunksize, index_col=0):
    #if (chunk['tpep_pickup_datetime'][1].any()):
        i = i + 1
        print(i)        
print('end')
print('Total number: ', i, 'Million rows')

In [5]:
# read data

import pandas as pd
from datetime import datetime
chunksize = 1000
i = 0

# 2018_Yellow_Taxi_Trip_Data.csv,  2018_1_columndelete.csv, 2018_2_complete.csv, 2018_3_deletesamezone.csv, 2018_4_calculate_costs.csv, 2018_5_add_duration.csv
# 2019_3_deletesamezone.csv
#for chunk in pd.read_csv('2019_2b_startafter6pm.csv', chunksize = chunksize, index_col=0):
for chunk in pd.read_csv('2018_Yellow_Taxi_Trip_Data.csv', chunksize = chunksize):
    
    print(chunk)
    print('--------------------------------------------------------')
    i += 1
    if (i>10):
        break

     VendorID    tpep_pickup_datetime   tpep_dropoff_datetime  \
0           2  05/09/2018 05:55:25 PM  05/09/2018 06:21:43 PM
1           1  05/09/2018 05:00:14 PM  05/09/2018 05:34:05 PM
2           1  05/09/2018 05:50:15 PM  05/09/2018 05:57:58 PM
3           2  05/09/2018 05:55:58 PM  05/09/2018 06:20:17 PM
4           2  05/09/2018 05:31:47 PM  05/09/2018 06:29:41 PM
..        ...                     ...                     ...
995         1  05/09/2018 05:54:36 PM  05/09/2018 06:40:53 PM
996         2  05/09/2018 05:16:14 PM  05/09/2018 05:55:50 PM
997         2  05/09/2018 06:00:22 PM  05/09/2018 06:31:32 PM
998         1  05/09/2018 05:13:31 PM  05/09/2018 05:22:14 PM
999         1  05/09/2018 05:23:10 PM  05/09/2018 05:42:05 PM

     passenger_count  trip_distance  RatecodeID store_and_fwd_flag  \
0                  1           3.24           1                  N
1                  2           3.40           1                  N
2                  2           1.40           1                  N
3                  1           5.20           1                  N
4                  1          10.49           1                  N
..               ...            ...         ...                ...
995                1           1.20           1                  N
996                1          10.19           1                  N
997                1          10.56           1                  N
998                1           1.00           1                  N
999                1           2.10           1                  N

     PULocationID  DOLocationID  payment_type  fare_amount  extra  mta_tax  \
0             234           236             1         17.5    1.0      0.5
1             249           142             1         21.0    1.0      0.5
2             239            24             1          7.5    1.0      0.5
3              75           137             1         20.0    1.0      0.5
4             137           213             1         39.5    1.0      0.5
..            ...           ...           ...          ...    ...      ...
995           163            48             1         26.0    1.0      0.5
996           138           162             1         32.5    1.0      0.5
997           162           138             1         31.0    1.0      0.5
998           237           262             1          7.5    1.0      0.5
999           262           262             1         13.5    1.0      0.5

     tip_amount  tolls_amount  improvement_surcharge  total_amount
0          3.86          0.00                    0.3         23.16
1          4.55          0.00                    0.3         27.35
2          1.85          0.00                    0.3         11.15
3          4.36          0.00                    0.3         26.16
4          0.00          0.00                    0.3         41.30
..          ...           ...                    ...           ...
995        0.00          0.00                    0.3         27.80
996        8.01          5.76                    0.3         48.07
997        7.71          5.76                    0.3         46.27
998        2.33          0.00                    0.3         11.63
999        3.83          0.00                    0.3         19.13

[1000 rows x 17 columns]
--------------------------------------------------------
      VendorID    tpep_pickup_datetime   tpep_dropoff_datetime  \
1000         1  05/09/2018 05:52:32 PM  05/09/2018 05:53:56 PM
1001         1  05/09/2018 05:55:44 PM  05/09/2018 06:12:10 PM
1002         1  05/09/2018 05:03:23 PM  05/09/2018 05:20:30 PM
1003         1  05/09/2018 05:25:36 PM  05/09/2018 05:38:53 PM
1004         1  05/09/2018 05:49:18 PM  05/09/2018 06:10:46 PM
...        ...                     ...                     ...
1995         2  05/09/2018 05:40:48 PM  05/09/2018 05:57:29 PM
1996         2  05/09/2018 05:59:11 PM  05/09/2018 06:09:13 PM
1997         2  05/09/2018 05:56:36 PM  05/09/2018 06:07:29 PM
1998         2  05/09/2018 05:02:01 PM  05/09/2018 05:06:54 PM
1999         2  05/09/2018 05:08:11 PM  05/09/2018 05:09:11 PM

      passenger_count  trip_distance  RatecodeID store_and_fwd_flag  \
1000                2           0.50           1                  N
1001                3           2.60           1                  N
1002                1           1.40           1                  N
1003                1           1.40           1                  N
1004                1           2.50           1                  N
...               ...            ...         ...                ...
1995                1           1.96           1                  N
1996                1           1.49           1                  N
1997                1           0.64           1                  N
1998                1           0.84           1                  N
1999                1           0.31           1                  N

      PULocationID  DOLocationID  payment_type  fare_amount  extra  mta_tax  \
1000           236           236             2          3.5    1.0      0.5
1001           236           143             1         13.0    1.0      0.5
1002           264           229             1         11.5    1.0      0.5
1003           237            43             1         10.0    1.0      0.5
1004           264           236             1         15.0    1.0      0.5
...            ...           ...           ...          ...    ...      ...
1995           162            90             1         12.0    1.0      0.5
1996           234           211             1          8.0    1.0      0.5
1997           261           261             1          8.0    1.0      0.5
1998            24           151             1          5.5    1.0      0.5
1999           151           238             1          3.0    1.0      0.5

      tip_amount  tolls_amount  improvement_surcharge  total_amount
1000        0.00           0.0                    0.3          5.30
1001        1.50           0.0                    0.3         16.30
1002        2.00           0.0                    0.3         15.30
1003        2.35           0.0                    0.3         14.15
1004        3.35           0.0                    0.3         20.15
...          ...           ...                    ...           ...
1995        3.45           0.0                    0.3         17.25
1996        2.45           0.0                    0.3         12.25
1997        1.00           0.0                    0.3         10.80
1998        1.20           0.0                    0.3          8.50
1999        1.00           0.0                    0.3          5.80

[1000 rows x 17 columns]
--------------------------------------------------------
      VendorID    tpep_pickup_datetime   tpep_dropoff_datetime  \
2000         2  05/09/2018 05:28:59 PM  05/09/2018 06:06:24 PM
2001         1  05/09/2018 05:03:06 PM  05/09/2018 05:33:31 PM
2002         1  05/09/2018 05:38:42 PM  05/09/2018 05:58:56 PM
2003         1  05/09/2018 05:22:43 PM  05/09/2018 05:31:40 PM
2004         1  05/09/2018 05:34:41 PM  05/09/2018 05:44:03 PM
...        ...                     ...                     ...
2995         2  05/09/2018 05:38:04 PM  05/09/2018 05:51:40 PM
2996         2  05/09/2018 05:42:36 PM  05/09/2018 05:59:15 PM
2997         1  05/09/2018 05:02:15 PM  05/09/2018 05:07:07 PM
2998         1  05/09/2018 05:24:14 PM  05/09/2018 05:32:44 PM
2999         1  05/09/2018 05:35:43 PM  05/09/2018 05:49:00 PM

      passenger_count  trip_distance  RatecodeID store_and_fwd_flag  \
2000                2           8.18           1                  N
2001                1           2.70           1                  N
2002                1           2.70           1                  N
2003                2           0.90           1                  N
2004                1           1.70           1                  N
...               ...            ...         ...                ...
2995                2           2.10           1                  N
2996                1           3.24           1                  N
2997                1           1.00           1                  N
2998                2           1.00           1                  N
2999                2           1.90           1                  N

      PULocationID  DOLocationID  payment_type  fare_amount  extra  mta_tax  \
2000           138           170             1         30.5    1.0      0.5
2001            45           186             2         19.5    1.0      0.5
2002            90           231             1         14.5    1.0      0.5
2003           143           239             1          7.0    1.0      0.5
2004           239           236             1          9.0    1.0      0.5
...            ...           ...           ...          ...    ...      ...
2995            41           263             1         11.0    1.0      0.5
2996           237             7             2         14.0    1.0      0.5
2997           229           236             1          6.0    1.0      0.5
2998           141           236             1          7.0    1.0      0.5
2999           236           238             1         10.5    1.0      0.5

      tip_amount  tolls_amount  improvement_surcharge  total_amount
2000        9.52          5.76                    0.3         47.58
2001        0.00          0.00                    0.3         21.30
2002        3.25          0.00                    0.3         19.55
2003        2.20          0.00                    0.3         11.00
2004        2.15          0.00                    0.3         12.95
...          ...           ...                    ...           ...
2995        2.56          0.00                    0.3         15.36
2996        0.00          0.00                    0.3         15.80
2997        1.55          0.00                    0.3          9.35
2998        1.76          0.00                    0.3         10.56
2999        2.46          0.00                    0.3         14.76

[1000 rows x 17 columns]
--------------------------------------------------------
      VendorID    tpep_pickup_datetime   tpep_dropoff_datetime  \
3000         1  05/09/2018 05:53:20 PM  05/09/2018 06:04:51 PM
3001         1  05/09/2018 05:32:02 PM  05/09/2018 05:39:29 PM
3002         1  05/09/2018 05:48:23 PM  05/09/2018 06:07:38 PM
3003         2  05/09/2018 06:07:22 PM  05/09/2018 06:53:30 PM
3004         1  05/09/2018 05:20:53 PM  05/09/2018 05:28:16 PM
...        ...                     ...                     ...
3995         1  05/09/2018 05:45:21 PM  05/09/2018 06:00:02 PM
3996         2  05/09/2018 05:10:41 PM  05/09/2018 05:28:20 PM
3997         2  05/09/2018 05:36:30 PM  05/09/2018 05:57:10 PM
3998         2  05/09/2018 05:57:46 PM  05/09/2018 06:14:23 PM
3999         2  05/09/2018 05:09:31 PM  05/09/2018 05:14:36 PM

      passenger_count  trip_distance  RatecodeID store_and_fwd_flag  \
3000                2           1.70           1                  N
3001                1           1.50           1                  N
3002                2           2.20           1                  N
3003                1           9.72           1                  N
3004                1           1.40           1                  N
...               ...            ...         ...                ...
3995                1           2.00           1                  N
3996                1           2.41           1                  N
3997                1           2.72           1                  N
3998                1           2.77           1                  N
3999                1           0.56           1                  N

      PULocationID  DOLocationID  payment_type  fare_amount  extra  mta_tax  \
3000           238           263             2          9.5    1.0      0.5
3001           186           249             1          7.5    1.0      0.5
3002           246           144             1         13.5    1.0      0.5
3003           138           249             1         37.0    1.0      0.5
3004           229           137             1          7.5    1.0      0.5
...            ...           ...           ...          ...    ...      ...
3995           230           249             1         11.0    1.0      0.5
3996           161           238             2         13.0    1.0      0.5
3997           143           246             1         15.0    1.0      0.5
3998           246           148             1         13.0    1.0      0.5
3999            41            41             2          5.0    1.0      0.5

      tip_amount  tolls_amount  improvement_surcharge  total_amount
3000        0.00          0.00                    0.3         11.30
3001        1.85          0.00                    0.3         11.15
3002        3.05          0.00                    0.3         18.35
3003        8.91          5.76                    0.3         53.47
3004        1.85          0.00                    0.3         11.15
...          ...           ...                    ...           ...
3995        2.55          0.00                    0.3         15.35
3996        0.00          0.00                    0.3         14.80
3997        3.36          0.00                    0.3         20.16
3998        2.96          0.00                    0.3         17.76
3999        0.00          0.00                    0.3          6.80

[1000 rows x 17 columns]
--------------------------------------------------------
      VendorID    tpep_pickup_datetime   tpep_dropoff_datetime  \
4000         2  05/09/2018 05:18:26 PM  05/09/2018 05:23:48 PM
4001         2  05/09/2018 05:24:46 PM  05/09/2018 05:33:58 PM
4002         2  05/09/2018 05:47:06 PM  05/09/2018 05:55:18 PM
4003         2  05/09/2018 05:26:04 PM  05/09/2018 05:46:23 PM
4004         2  05/09/2018 05:48:22 PM  05/09/2018 05:53:10 PM
...        ...                     ...                     ...
4995         1  05/09/2018 05:09:22 PM  05/09/2018 05:16:18 PM
4996         1  05/09/2018 05:19:27 PM  05/09/2018 05:53:58 PM
4997         2  05/09/2018 05:15:20 PM  05/09/2018 05:18:17 PM
4998         2  05/09/2018 05:31:55 PM  05/09/2018 05:41:27 PM
4999         2  05/09/2018 05:44:20 PM  05/09/2018 05:56:22 PM

      passenger_count  trip_distance  RatecodeID store_and_fwd_flag  \
4000                1           0.52           1                  N
4001                1           1.01           1                  N
4002                1           1.17           1                  N
4003                6           3.29           1                  N
4004                6           0.63           1                  N
...               ...            ...         ...                ...
4995                1           0.70           1                  N
4996                1           3.00           1                  N
4997                1           0.42           1                  N
4998                1           0.82           1                  N
4999                1           1.37           1                  N

      PULocationID  DOLocationID  payment_type  fare_amount  extra  mta_tax  \
4000            41            74             1          5.0    1.0      0.5
4001            74            41             2          7.5    1.0      0.5
4002           238           236             1          7.5    1.0      0.5
4003           166           237             1         15.0    1.0      0.5
4004           237           237             1          5.0    1.0      0.5
...            ...           ...           ...          ...    ...      ...
4995           143           142             1          6.0    1.0      0.5
4996           239            48             1         22.5    1.0      0.5
4997           164           170             2          4.0    1.0      0.5
4998           170           107             1          7.5    1.0      0.5
4999           234           246             1          9.5    1.0      0.5

      tip_amount  tolls_amount  improvement_surcharge  total_amount
4000        0.00           0.0                    0.3          6.80
4001        0.00           0.0                    0.3          9.30
4002        1.86           0.0                    0.3         11.16
4003        4.20           0.0                    0.3         21.00
4004        1.36           0.0                    0.3          8.16
...          ...           ...                    ...           ...
4995        1.17           0.0                    0.3          8.97
4996        3.64           0.0                    0.3         27.94
4997        0.00           0.0                    0.3          5.80
4998        1.00           0.0                    0.3         10.30
4999        2.26           0.0                    0.3         13.56

[1000 rows x 17 columns]
--------------------------------------------------------
      VendorID    tpep_pickup_datetime   tpep_dropoff_datetime  \
5000         2  05/09/2018 05:56:57 PM  05/09/2018 06:16:23 PM
5001         2  05/09/2018 05:31:32 PM  05/09/2018 05:36:08 PM
5002         2  05/09/2018 05:37:30 PM  05/09/2018 05:46:41 PM
5003         2  05/09/2018 05:55:49 PM  05/09/2018 06:01:30 PM
5004         1  05/09/2018 05:35:27 PM  05/09/2018 05:43:03 PM
...        ...                     ...                     ...
5995         2  05/09/2018 05:17:07 PM  05/09/2018 05:25:11 PM
5996         2  05/09/2018 05:28:56 PM  05/09/2018 05:40:44 PM
5997         2  05/09/2018 05:46:16 PM  05/09/2018 05:51:20 PM
5998         2  05/09/2018 06:00:01 PM  05/09/2018 06:11:29 PM
5999         2  05/09/2018 05:26:19 PM  05/09/2018 05:43:28 PM

      passenger_count  trip_distance  RatecodeID store_and_fwd_flag  \
5000                1           2.76           1                  N
5001                1           0.90           1                  N
5002                1           0.89           1                  N
5003                1           0.65           1                  N
5004                1           1.40           1                  N
...               ...            ...         ...                ...
5995                2           1.43           1                  N
5996                2           1.47           1                  N
5997                2           0.61           1                  N
5998                2           1.64           1                  N
5999                4           1.93           1                  N

      PULocationID  DOLocationID  payment_type  fare_amount  extra  mta_tax  \
5000           246           161             1         14.5    1.0      0.5
5001           246           249             2          5.5    1.0      0.5
5002           249           211             1          7.0    1.0      0.5
5003           249            90             2          5.5    1.0      0.5
5004            43           238             1          7.0    1.0      0.5
...            ...           ...           ...          ...    ...      ...
5995           114            90             1          7.5    1.0      0.5
5996            68           164             1          9.0    1.0      0.5
5997           164           234             1          5.0    1.0      0.5
5998           170           114             1          9.0    1.0      0.5
5999           137           237             1         12.0    1.0      0.5

      tip_amount  tolls_amount  improvement_surcharge  total_amount
5000        1.50           0.0                    0.3         17.80
5001        0.00           0.0                    0.3          7.30
5002        1.76           0.0                    0.3         10.56
5003        0.00           0.0                    0.3          7.30
5004        1.00           0.0                    0.3          9.80
...          ...           ...                    ...           ...
5995        1.86           0.0                    0.3         11.16

In [ ]:
# Drop unimportant columns

import pandas as pd
import os
if (os.path.isfile('2019_1_columndelete.csv')):
    os.remove('2019_1_columndelete.csv')
chunksize = 1000000
i = 0
header = True

for chunk in pd.read_csv('2019_Yellow_Taxi_Trip_Data.csv', chunksize = chunksize, index_col=0):
    i = i+1
    print(i)
    #drop vendorID, passenger_count, extra, payment_type ..
    chunk = chunk.drop(columns=['VendorID','passenger_count','RatecodeID','store_and_fwd_flag','payment_type','fare_amount', 'extra','mta_tax','tolls_amount','improvement_surcharge','congestion_surcharge'])
    chunk.to_csv('2019_1columndelete.csv', mode = 'a', header = header)
    header = False
    
    #print(chunk)
print('fertig')

In [ ]:
# Compare Datetime all-in-one + save right timewindow in new csv (Dateformat for 2015)
import pandas as pd
from datetime import datetime
import os
if (os.path.isfile('yellow_tripdata_2015-01-06_6to6.csv')):
    os.remove('yellow_tripdata_2015-01-06_6to6.csv')
chunksize = 10000
i = 0
header = True

compare_am = datetime.strptime('06:00:00', '%H:%M:%S').time()
compare_pm = datetime.strptime('18:00:00', '%H:%M:%S').time()

for chunk in pd.read_csv('2016_Yellow_Taxi_Trip_Data.csv', chunksize = chunksize):
    counter = 0
    print(i)
    while (counter < chunksize):
        string_pickup = chunk['tpep_pickup_datetime'][i]
        datetime_pickup = datetime.strptime(string_pickup,'%Y-%m-%d %H:%M:%S')
        string_dropoff = chunk['tpep_dropoff_datetime'][i]
        datetime_dropoff = datetime.strptime(string_dropoff,'%Y-%m-%d %H:%M:%S')
            
        # check if before 6am and after 6 pm
        help_time_start = datetime_pickup.time()
        help_time_end = datetime_dropoff.time()
            
        # Check if time is in time-window
        #if (compare_am > help_time_start or compare_pm < help_time_start or compare_am > help_time_end or compare_pm < help_time_end):
        if (compare_am > help_time_start):        
            chunk = chunk.drop([i])                
            
        i =  i + 1
        counter = counter + 1
    chunk.to_csv('yellow_tripdata_2015-01-06_6to6.csv', mode = 'a', header = header)
    header = False
    #print(chunk)
    #print('--------------------------------------------------------')
print('finished')

In [ ]:
#to check if row deletion was correct

import pandas as pd
from datetime import datetime
chunksize = 10000
i = 0

compare_am = datetime.strptime('06:00:00', '%H:%M:%S').time()
compare_pm = datetime.strptime('18:00:00', '%H:%M:%S').time()


for chunk in pd.read_csv('yellow_tripdata_2015-01-06_6to6.csv', chunksize = chunksize):
    counter = 0
    
    while (counter < chunksize):
        if (chunk['tpep_pickup_datetime'][i]):
            string_pickup = chunk['tpep_pickup_datetime'][i]
            datetime_pickup = datetime.strptime(string_pickup,'%Y-%m-%d %H:%M:%S')
            string_dropoff = chunk['tpep_dropoff_datetime'][i]
            datetime_dropoff = datetime.strptime(string_dropoff,'%Y-%m-%d %H:%M:%S')
            difference = datetime_dropoff - datetime_pickup
            
            # check if before 6am and after 6 pm
            help_time_start = datetime_pickup.time()
            help_time_end = datetime_dropoff.time()
            
            
            # The comparison here is I think not as expected the latest time is the smallest in the coparison
            if (compare_am > help_time_start or compare_pm < help_time_start or compare_am > help_time_end or compare_pm < help_time_end):
                window = False
            else:
                window = True
                
            
            print(string_pickup, string_dropoff, 'Difference: ', difference, 'Time-window ', help_time_start, window)
            i =  i + 1
            counter = counter + 1
    
    #print(chunk)
    #print('--------------------------------------------------------')
print('finished 2 complety')

In [ ]:
# Combine Files

import pandas as pd

CHUNK_SIZE = 50000
csv_file_list = ["file1.csv", "file2.csv", "file3.csv"]
output_file = "./result_merge/output.csv"

first_one = True
for csv_file_name in csv_file_list:

    if not first_one: # if it is not the first csv file then skip the header row (row 0) of that file
        skip_row = [0]
    else:
        skip_row = []

    chunk_container = pd.read_csv(csv_file_name, chunksize=CHUNK_SIZE, skiprows = skip_row)
    for chunk in chunk_container:
        chunk.to_csv(output_file, mode="a", index=False)
    first_one = False

### Todo
delete unnecessary columns
<br>
add areas to files that need it<br>
(add the triptime)<br>
check if the columns are the same + in the same order<br>
merge files<br>

In [ ]:
import numpy as np
filedata = np.genfromtxt('matrix00_edited.txt', delimiter = ' ')
print(filedata)

In [ ]:
# Create shorter file for testing purposes
import pandas as pd
import os
os.remove('short_tripdata.csv')
chunksize = 1000
counter = 0
header = True
for chunk in pd.read_csv('yellow_tripdata_2015-01-06.csv', chunksize = chunksize):
    if (counter < 1):
        chunk.to_csv('short_tripdata.csv', mode = 'a', header = header)
        counter = counter + 1
        header = False
    else:
        break
    print('--------------------------------------------------------')

In [ ]:
import pandas as pd
from datetime import datetime
import os


# 1 Drop unimportant columns

def function_1(year):
    
    chunksize = 1000
    i = 0
    header = True
    if (os.path.isfile(year + '_1_columndelete.csv')):
        os.remove(year + '_1_columndelete.csv')


    for chunk in pd.read_csv(year + '_Yellow_Taxi_Trip_Data.csv', chunksize = chunksize):
        i = i+1
        print(i)
        #drop vendorID, passenger_count, extra, payment_type ..
        #chunk = chunk.drop(columns=['VendorID','passenger_count','RatecodeID','store_and_fwd_flag','payment_type','fare_amount', 'extra','mta_tax','tolls_amount','improvement_surcharge','congestion_surcharge'])
        chunk[['tpep_pickup_datetime','tpep_dropoff_datetime','trip_distance','PULocationID','DOLocationID','tip_amount','total_amount']].to_csv(year + '_1_columndelete.csv', mode = 'a', header = header, index = False)
        header = False

    print('finished 1')

function_1('2018')